<table  border="1">
    <thead>
    <tr>
        <th>Currency</th>
        <th>By</th>
        <th>Sell</th>
    </tr>
    </thead>
    <tbody>
    {% for item in exchangeRates %}
        <tr >
            <td>{{ item.isoCode.name }}</td>
            <td>
                {{ item.buy|mc_money }}
                {% if item.thresholdBuy != 0  %}
                    {% if(item.thresholdBuy > 0) %}
                        <span style="color: green">↗({{ item.thresholdBuy|mc_money }})</span>
                             {% else %}
                        <span style="color: red ">↘({{ item.thresholdBuy|mc_money }})</span>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ item.sale|mc_money }}
                {% if item.thresholdSale != 0  %}
                    {% if(item.thresholdSale > 0) %}
                        <span style="color: green">↗({{ item.thresholdSale|mc_money }})</span>
                    {% else %}
                        <span style="color: red ">↘({{ item.thresholdSale|mc_money }})</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


